{{#unless scrapedArticles}}
    <div class="row">
        <div class="col text-center">
            <h3>We have no new articles. Try <a href="/scrape">scraping some?</a></h1>
        </div>
    </div>
{{/unless}}