.jumbotron {
    background-image: url("../img/background/rogerdean2.jpg");
    background-position: 50% 82%;
}
.site-title {
    font-family: 'Permanent Marker', cursive;
}

#jumbo-site-title {
    font-size: 3em;
    text-shadow: 4px 4px 4px #000000;
}
.site-subtitle {
    font-family: 'Kalam', cursive;
    text-shadow: 4px 4px 4px #000000;
}

.album-cover {
    height: 150px;
    width: auto;
}