.jumbotron {
    background-image: url("../img/background/rogerdean2.jpg");
    background-position: 50% 82%;
}
.site-title {
    font-family: 'Permanent Marker', cursive;
}

#jumbo-site-title {
    font-size: 3em;
    text-shadow: 4px 4px 4px #000000;
}
.site-subtitle {
    font-family: 'Kalam', cursive;
    text-shadow: 4px 4px 4px #000000;
}

.album-cover {
    height: 150px;
    width: auto;
}

.btn-dark-blue {
  background-color: #001a33;
  border-color: #006989;
  color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8), 0 6px 20px 0 rgba(0, 0, 0, 0.8);
}
.btn-dark-blue:hover {
  background-color: #006989;
  border-color: #001a33;
  color: white;
}

.btn-dark-blue:focus {
  background-color: #006989;
  border-color: #001a33;
  color: white;

}

.btn-dark-blue:active {
  background-color: #001a33;
  border-color: #006989;
  color: white;
}